@import 'https://fonts.googleapis.com/css?family=Marcellus:300,400,500';

header {
  background-color: #263d36;
  background-image: url("header.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

body {
	text-align: center;
  	font-family: "Marcellus", "Helvetica", "Arial", sans-serif;
 	line-height: 1.5;
  	padding: 4em 1em;
  	color: black;
    background: linear-gradient(direction/angle, color1, color2, color3, etc.);
    background: -webkit-linear-gradient(#93B874, #C9DCB9); 
    background: -o-linear-gradient(#93B874, #C9DCB9); 
    background: -moz-linear-gradient(#93B874, #C9DCB9); 
    background: linear-gradient( #ffff4d, #ff3300); 

}


ul{
  text-align: left;
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
  color: red;
}

h1 {
  color: red;
  font-family: "Marcellus", "Helvetica", "Arial", sans-serif;
  font-size: 100px;

}

a {
  color: #e81c4f;
}
img {
   border-radius: 8px;
}